body, html {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.top {
    background-image: url("pictures/joshuaTree.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.top-text {
  position: relative;
  top: 15%;
  left: 60%;
  word-wrap: break-word;;
  width: 350px;
}

.top-header {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.sub-header {
  font-size: 24px;
  margin: 6px 0;
}

.paragraph-text {
  margin-top: 10px;
  font-size: 18px;
}

.social-media {
  margin: 20px 0;
}

.paragraph-text a img {
  height: 28px;
  width: 28px;
  display: inline-block;
  margin-right: 10px;
}

@media only screen and (max-width: 775px) {
    .top-text  {
        left: 0%;
        margin: auto;
    }
}
