body {
	font-family: 'Exo', sans-serif;
}

img {
	border-radius: 15%;
}

header {
	background-image: url("../../pictures/shapes.jpg");
	width: 100%;
	font-family: 'Francois One', sans-serif;
	font-weight: normal;
	text-align: left;
	position: fixed;
	top: 0;
}

header ul {
	list-style: none;
	padding-left: 0;
	text-align: right;
	margin-right: 100px;
}

header li {
	font-size: 1em;
	margin-top: 0px;
	padding: 0px;

}

header h1 {
	font-size: 5em;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

#cameron {
	max-width: 20%;
	max-height: 20%;
	position: absolute;
	visibility: visible;

}

.content {
	margin-top: 200px;
}

nav li {
	display: inline-block;
	font-family: 'Exo', sans-serif;
	text-align: center;
	position: relative;
	text-decoration: none;
}

nav a {
	font-weight: bold;
	padding: 5px 5px;
	text-decoration: none;
}

nav a:hover {
	font-weight: normal;
	color: #fff;
	background-color: lightblue;
}

footer {
	margin-left: 100px;
	text-align: center;
	max-width: 1150;
}

/* 
PICS PAGE
*/

#images {
	max-width: 1150px;
	margin-left: 100px;
	-webkit-columns: 250px 3;
	-webkit-column-gap: 1em;
	-webkit-column-rule: 2px none darkblue;
	-webkit-flex-direction: column;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	-webkit-flex-wrap: wrap;
	-webkit-align-self: stretch;

}

#images img {
	display: inline-block;
	margin: .5em 0;
	max-width: 100%;
}

#images img:hover {
	cursor: pointer;
	-webkit-opacity: 0.5;
}

/*
ABOUT PAGE
*/

#aboutwrap {
	margin-left: 100px;
}

#family {
	display: block;
	max-width: 900px;
}

#outdoors {
	display: block;
	max-width: 900px;
}

#heartbreak {
	display: block;
	max-width: 900px;
}

.caps {
	display: inline;
	max-width:40%;
	float: left;
	margin: 5px;
}

.fampic {
	display: inline;
	max-width: 40%%;
	float: left;
	margin: 5px;
}

.climbingpic {
	display: inline;
	max-width: 60%;
	max-height: 40%;
	float: right;
	margin: 5px;
}

.basics li{
	max-width: 900px;
	margin-left: 100px;
}

/*
EDUCATION PAGE
*/

body img {
	max-width: 100%;
	max-height: 50%;
	margin-left: 100px;
}

body p, h2 {
	max-width: 900px;
	margin-left: 100px;
}


#clubspics {
	max-width: 1200px;
	margin-left: 0px;
	-webkit-columns: 250px 2;
	-webkit-column-gap: .5em;
	-webkit-column-rule: 1px solid darkblue;
	-webkit-flex-direction: column;
}

#edu {
	margin-left: 0px;
}

#quote {
	margin: 0px;
}















}